<div class="container py-3">
  <div class="row gy-3">
    <%== erb :'components/pagination', layout: nil, locals: { :page => @page } %>
  </div>
  <% if @plants_list.length > 0 %>
    <div class="row gy-3">
      <% @plants_list.each do |plant| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <div class="card bg-light h-100">
            <a href="/plants/<%= plant.id %>">
              <% if plant.image_src %>
                <img class="card-img-top" src="<%= plant.image_src %>" alt="Plant Image" />
              <% end %>
              <div class="card-body">
                <%# Color Based on Flower Color %>
                <h5 class="card-title text-success"><%= plant["common_name"] %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <%= plant["scientific_name"] %>
                </h6>
                <%== erb :'components/plant_metadata', layout: nil, locals: { :plant => plant } %>
                <form action="/community" method="get">
                  <input type="hidden" name="plant_id" value="<%= plant.id %>"/>
                  <input type="hidden" name="page" value="1"/>
                  <button type="submit" class="btn btn-link text-start p-0">Search for inventories with this plant.</button>
                </form>
              </div>
            </a>
            <div class="card-footer">
              <% if ['/plants', '/inventories/user'].include?(request.path) %>
                <%== erb(:'forms/quantity_form', layout: nil, locals: { plant: plant }) %>
              <% elsif plant.is_a? InventoryPlant %>
                <p>Quantity: <%= plant.quantity %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if @plants_list.length >= 4 %>
      <div class="my-3">
        <%== erb :'components/pagination', layout: nil, locals: { :page => @page } %>
      </div>
    <% end %>
  <% else %>
    <h1 class="text-muted lead text-center mb-3">No plants found.</h1>
    <% if request.path == '/inventories/user' %>
      <a href="/plants">
        <p class="text-center">
          Add a new plant here.
        </p>
      </a>
    <% end %>
  <% end %>
</div>
