<% if @plant %>
  <div class="container py-4">
    <div class="row">
      <div class="p-3 mb-4 bg-light rounded-3">
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col">
              <h1><%= @plant["CommonName"] %></h1>
              <h2 class="text-muted"><%= @plant["ScientificName"] %></h2>
              <%= erb :plant_metadata, layout: nil, locals: { :plant => @plant } %>
              <%= erb :quantity_form, layout: nil, locals: { :plant => @plant } %>
            </div>
            <div class="col-0 col-sm-0 col-md-1 col-lg-2 col-xl-3"></div>
            <% if @plant.image_src %>
              <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                <img class="img-fluid rounded" src="<%= @plant.image_src %>" alt="Image of plant">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-dark rounded-3">
          <h3>Taxonomy</h3>
          <ul>
            <% if @plant["Class"] %>
              <li>Class: <strong><%= @plant["Class"] %></strong></li>
            <% end %>
            <% if @plant["Order"] %>
              <li>Order: <strong><%= @plant["Order"] %></strong></li>
            <% end %>
            <% if @plant["Family"] %>
              <li>Family: <strong><%= @plant["Family"] %></strong></li>
            <% end %>
            <% if @plant["Genus"] %>
              <li>Genus: <strong><%= @plant["Genus"] %></strong></li>
            <% end %>
            <% if @plant["Species"] %>
              <li>Species: <strong><%= @plant["Species"] %></strong></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-info rounded-3">
          <h3>Timing</h3>
          <ul>
            <% if @plant["Duration"] %>
              <li>Duration: <strong><%= @plant["Duration"] %></strong></li>
            <% end %>
            <% if @plant["BloomPeriod"] %>
              <li>Bloom Period: <strong><%= @plant["BloomPeriod"] %></strong></li>
            <% end %>
            <% if @plant["ActiveGrowthPeriod"] %>
              <li>Active Growth Period: <strong><%= @plant["ActiveGrowthPeriod"] %></strong></li>
            <% end %>
            <% if @plant["GrowthRate"] %>
              <li>Growth Rate: <strong><%= @plant["GrowthRate"] %></strong></li>
            <% end %>
            <% if @plant["Lifespan"] %>
              <li>Lifespan: <strong><%= @plant["Lifespan"] %></strong></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-primary rounded-3">
          <h3>Growth Requirements</h3>
          <% if @plant["Precipitation_Minimum"] && @plant["Precipitation_Maximum"] %>
            <li>Precipitation Needed: 
              <strong>
                <%= @plant["Precipitation_Minimum"] + '-' + @plant["Precipitation_Maximum"] %>
                inches
              </strong>
            </li>
          <% end %>
          <% if @plant["TemperatureMinimum"] %>
            <li>Minimum Temperature: <strong><%= @plant["TemperatureMinimum"] %>&deg;F</strong></li>
          <% end %>
          <% if @plant["DroughtTolerance"] %>
            <li>Drought Tolerance: <strong><%= @plant["DroughtTolerance"] %></strong></li>
          <% end %>
          <% if @plant["ShadeTolerance"] %>
            <li>Shade Tolerance: <strong><%= @plant["ShadeTolerance"] %></strong></li>
          <% end %>
          <% if @plant["FireResistance"] %>
            <li>Fire Resistance: <strong><%= @plant["FireResistance"] %></strong></li>
          <% end %>
          <% if @plant["FertilityRequirement"] %>
            <li>Fertility Requirement: <strong><%= @plant["FertilityRequirement"] %></strong></li>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-dark bg-warning rounded-3">
          <h3>Reproduction</h3>
          <ul>
            <% if @plant["ResproutAbility"] %>
              <li><strong><%= @plant["ResproutAbility"] == 'Yes' ? 'Can Resprout' : 'Can\'t resprout' %></strong></li>
            <% end %>
            <% if @plant["SeedSpreadRate"] %>
              <li>Seed Spread Rate: <strong><%= @plant["SeedSpreadRate"] %></strong></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-success rounded-3">
          <h3>Physical Characteristics</h3>
          <ul>
            <% if @plant["MatureHeight"] %>
              <li>Mature Height: <strong><%= @plant["MatureHeight"] %></strong></li>
            <% end %>
            <% if @plant["GrowthHabit"] %>
              <li>Growth Habit: <strong><%= @plant["GrowthHabit"] %></strong></li>
            <% end %>
            <% if @plant["GrowthForm"] %>
              <li>Growth Form: <strong><%= @plant["GrowthForm"] %></strong></li>
            <% end %>
            <% if @plant["FoliageTexture"] %>
              <li>Foliage Texture: <strong><%= @plant["FoliageTexture"] %></strong></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-rainbow rounded-3">
          <h3>Colors</h3>
          <% if @plant["FoliageColor"] %>
            <li>Foliage: <strong><%= @plant["FoliageColor"] %></strong></li>
          <% end %>
          <% if @plant["FlowerColor"] %>
            <li>Flower: <strong><%= @plant["FlowerColor"] %></strong></li>
          <% end %>
          <% if @plant["FruitColor"] %>
            <li>Fruit: <strong><%= @plant["FruitColor"] %></strong></li>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-dark bg-light rounded-3">
          <h3>Miscellaneous</h3>
          <% if @plant.states %>
            <li>States: <strong><%= @plant.states %></strong></li>
          <% end %>
          <% if @plant["PalatableHuman"] == 'Yes' %>
            <li>Palatable for Humans</li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
