<script src="/scripts/quantity_form.js"></script>
<%# Update quantity if plant is already added %>
<% if plant.is_a? UserPlant %>
  <form class="update-quantity-form" data-plant-id="<%= plant.id %>" action="/inventory/<%= plant.id %>/update" method="post">
    <input type="hidden" name="id" value="<%= plant.id %>" />
    <div class="row p-0">
      <div class="col-5 p-1">
        <input class="form-control"
                type="number" name="quantity"
                value="<%= plant.quantity %>"
                id="quantity" required />
      </div>
      <div class="col-7 p-1">
        <button class="btn btn-outline-primary" type="submit">
          Update Amount
          <div class="spinner-border mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </form>
  <%# Add new plant if plant is not yet added %>
<% else %>
  <form id="<%= plant.id %>" class="add-plant-form" action="/inventory" method="post">
    <input type="hidden" name="id" value="<%= plant.id %>" />
    <div class="row p-0">
      <div class="col-6 p-1">
        <input class="form-control"
                             type="number" name="quantity"
                             id="quantity" placeholder="Quantity" required />
      </div>
      <div class="col-6 p-1">
        <button class="btn btn-outline-success" type="submit">+ Add
          <div class="spinner-border mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </form>
<% end%>
