<% if @plant %>
  <div class="container py-4">
    <div class="row">
      <div class="p-3 mb-4 bg-light rounded-3">
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col">
              <h1><%= @plant["common_name"] %></h1>
              <h2 class="text-muted"><%= @plant["scientific_name"] %></h2>
              <%== erb :'components/plant_metadata', layout: nil, locals: { :plant => @plant } %>
              <%== erb :'forms/quantity_form', layout: nil, locals: { :plant => @plant } %>
            </div>
            <div class="col-0 col-sm-0 col-md-1 col-lg-2 col-xl-3"></div>
            <% if @plant.image_src %>
              <div class="col-12 col-sm-6 col-md-6 col-lg-5">
                <img class="img-fluid rounded" src="<%= @plant.image_src %>" alt="Image of plant">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-dark rounded-3">
          <h3>Taxonomy</h3>
          <%== generate_attribute_group(:taxonomy, @plant) %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-info rounded-3">
          <h3>Timing</h3>
          <%== generate_attribute_group(:timing, @plant) %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-primary rounded-3">
          <h3>Growth Requirements</h3>
          <% if @plant["precipitation_minimum"] && @plant["precipitation_maximum"] %>
            <li>Precipitation Needed: 
              <strong>
                <%= @plant["precipitation_minimum"] + '-' + @plant["precipitation_maximum"] %>
                inches
              </strong>
            </li>
          <% end %>
          <% if @plant["temperature_minimum"] %>
            <li>Minimum Temperature: <strong><%= @plant["temperature_minimum"] %>&deg;F</strong></li>
          <% end %>
          <%== generate_attribute_group(:growth_requirements, @plant) %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-dark bg-warning rounded-3">
          <h3>Reproduction</h3>
          <%== generate_attribute_group(:reproduction, @plant) %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-success rounded-3">
          <h3>Physical Characteristics</h3>
          <%== generate_attribute_group(:physical_characteristics, @plant) %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-white bg-rainbow rounded-3">
          <h3>Colors</h3>
          <%== generate_attribute_group(:colors, @plant) %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-3 mb-4 rounded-3">
        <div class="h-100 p-3 text-dark bg-light rounded-3">
          <h3>Miscellaneous</h3>
          <% if @plant.states %>
            <li>States: <strong><%= @plant.states %></strong></li>
          <% end %>
          <% if @plant["palatable_human"] == 'Yes' %>
            <li>Palatable for Humans</li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
